# item 
source: e:/ws/work/builder/RobotCore/config/items.xml
log:    items.log
tag:    cat(id)/item(id, name)

# item cata
source: e:/ws/work/builder/RobotCore/config/items.xml
log:    item_catas.log
tag:    cat(id, name, max, url)

# map
source: e:/ws/work/builder/RobotCore/config/map_config.xml
log:    map.log
tag:    map(id, name, x, y, sound, npc)

# mintmark
source: e:/ws/work/builder/RobotCore/config/mintmark.xml
log:    mintmark.log
tag:    mintmark(id, type, quality, level, max, des, effectdes)

# monsters
source: e:/ws/work/builder/RobotCore/config/monsters.xml
log:    monsters.log
tag:    monster(id, defname, type, hp, atk, def, spatk, spdef, spd, petclass, evolvesfrom, evolvesto, isridepet, isflypet)

# moves
source: e:/ws/work/builder/RobotCore/config/moves.xml
log:    moves.log
tag:    monster(id, defname, type, hp, atk, def, spatk, spdef, spd, petclass, evolvesfrom, evolvesto, isridepet, isflypet)